<h2>Multi-Faceted Trust Based Recommendation System</h2>

<p>Pick User ID and Product ID for which you want to predict rating</p>

<form [formGroup]="form1" (ngSubmit)="onSubmit1()" class="form-group">
  
    <label>
      User ID:
      <input type="number" formControlName="iduser" class = "form-control" required>
    </label>
  
    <label>
      Product ID:
      <input type="number" formControlName="idproduct" class = "form-control" required>
    </label>
    <br/>
    <button type="submit" [disabled]="!form1.valid">Submit</button>
  
  </form>

  <div>Or</div>

  <form [formGroup]="form2" (ngSubmit)="onSubmit2()">
  
    <label>User ID and Product ID</label>
    <br/>
    <select>
      <option *ngFor = "let c of rcList" [value] = "{'iduser':c.iduser,'idproduct':c.idproduct}">
        User ID: {{c.iduser}}, Product ID: {{c.idproduct}}
      </option>
      <br/>
    </select>
    <br/>
    <button type="submit" [disabled]="!form2.valid">Submit</button>
  
  </form>